In [6]:
import pandas as pd
import tableauserverclient as TSC
from pandleau import *

import json
import numpy as np
import pandas as pds

import re

from sqlalchemy import create_engine
import psycopg2

#from config import db_password

import time

In [12]:
#Create Connection String to SQL 
db_password = "postgres"
db_string = f"postgres://postgres:{db_password}@127.0.0.1:5432/Final_Project"

engine = create_engine(db_string)

In [15]:
# Connect to PostgreSQL server

dbConnection = engine.connect();

# Read data from PostgreSQL database table and load into a DataFrame instance

usa_covid_weekly_sql = pds.read_sql("select * from \"usa_covid_weekly\"", dbConnection);

pds.set_option('display.expand_frame_repr', False);

# Print the DataFrame

#print(usa_covid_sql);
#usa_covid_sql.head()

# Close the database connection

dbConnection.close();

In [16]:
usa_covid_weekly_sql.head()

        date  new_cases
0 2020-01-26   0.800000
1 2020-02-02   0.428571
2 2020-02-09   0.571429
3 2020-02-16   0.285714
4 2020-02-23   0.285714

In [17]:
usa_covid_weekly_sql = pandleau(usa_covid_weekly_sql)

In [18]:
usa_covid_weekly_sql.to_tableau(r'C:\Users\vntha\Final_Project\Final_Project\Resources\mydata.hyper', add_index=False)

processing table: 61it [00:00, 10057.10it/s]

Table 'Extract' does not exist in extract C:\Users\vntha\Final_Project\Final_Project\Resources\mydata.hyper, creating.